* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    color: #565656;
}


/*Background*/

.backgr,
.backgr>div:not(.ctn-circle) {
    z-index: 0;
    height: fit-content;
    width: inherit;
    display: inline-block;
    position: absolute;
}

.curver {
    height: fit-content;
    width: fit-content;
    transform: scale(-2, -1.5) translate(10%, 15%);
    opacity: 0.5;
    fill: #7a0083;
}

.backgr>.ctn-circle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgb(0, 60, 255);
    border-radius: 50%;
    opacity: 0.3;
}

#big {
    translate: 200px 200px;
    height: 400px;
    width: 400px;
}

#small {
    translate: 200px 300px;
    background: rgb(0, 255, 55);
}


/*header*/

.header {
    display: flex;
    width: 100%;
    height: 44.8px;
    opacity: 1;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 50px;
}

.header>.bar {
    width: 100%;
    display: inline-block;
}

.header>.bar>a>.logo {
    height: 150%;
    width: auto;
    position: absolute;
    left: 0;
    margin-left: 100px;
}

.header>.bar>.nav {
    position: absolute;
    right: 0;
    margin-right: 200px;
}

.header>.bar>.nav>li {
    display: inline-block;
}

.header>.bar>.nav>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 40px;
    padding: 0 24px;
    display: block;
    font-size: small;
    border-radius: 25px;
}

.header>.bar>.nav>li>a:hover {
    background: #ff3bc8;
    color: #ffffff;
    transition: all 0.5s;
}

.border {
    padding: -3px 0;
    border: 2px solid #FFA500;
    border-radius: 25px;
}


/*Body*/

body,
html {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

.content>.tab {
    z-index: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-top: 0;
}

.content>.tab>.heading>h1 {
    color: rgb(135, 57, 209);
}

#line {
    height: 7px;
    width: 100px;
    background: linear-gradient(to bottom right, #FFA500, #DDA0DD, #ff00bb);
    margin-top: 10px;
}

.content>.tab>.subtext {
    text-align: center;
    margin-top: 60px;
}

.content>.tab>.subtext>p {
    margin-bottom: 10px;
}

.content>.tab>.subtext>a {
    color: rgb(255, 92, 157);
    text-decoration: none;
}

.content>.tab>form {
    width: 90%;
    height: 100%;
    margin-top: 15px;
}

.content>.tab>form>.textbox,
.content>.tab>form>.button {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 75%;
}

.content>.tab>form>.textbox,
.content>.tab>form>.textbox>input {
    width: 100%;
    height: 75%;
    background: none;
}

.content>.tab>form>.textbox>input {
    border: none;
    border-bottom: 2px solid purple;
    padding: 0 15px;
}

.content>.tab>form>.button>input {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(to left top, #ff00bb, #a300a9);
    margin-top: 25px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: medium;
}

.content>.tab>form>.button>input:hover {
    background: linear-gradient(to right bottom, #ff00bb, #a300a9);
    transition: all 2s;
}